* {
  scrollbar-width: none;
}

body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body.__lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.conteiner {
  margin: 0 auto;
}

.return__btn {
  background-color: var(--returnBtnBgClr);
  border-radius: 50%;
  border: solid 1px var(--returnBtnBrdClr);
  width: 46px;
  height: 46px;
  position: fixed;
  z-index: 20;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.return__btn img {
  width: 100%;
  height: 30%;
  transform: rotate(-90deg);
  align-self: center;
}

.hidden {
  display: none;
}

.header {
  background-color: var(--headerBgColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .header__body {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.header__menu__icon.burger {
  display: none;
}

.header__logo {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo img {
  width: 45px;
  height: 45px;
}
.header__logo.logo__left .text {
  color: #ffffff;
}
.header__logo.logo__left .img {
  width: 45px;
  height: 45px;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}
.header__logo.logo__left .img img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 50%;
  height: 50%;
  transform: rotate(90deg);
}
.header__logo.logo__left .img .text {
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  position: absolute;
  top: 20%;
  left: 3%;
}

.header__menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
  border: 1px solid var(--headerMenuItemBrdClr);
  border-radius: 6px;
  background-color: var(--headerMenuItemBgClr);
}
.header__menu__list > li:hover {
  background-color: var(--headerMenuItemBrdClrHover);
}
.header__menu__list .header__menu__item {
  display: block;
  padding: 10px 10px;
  color: var(--headerMenuItemTxtClr);
  font-size: calc(20px + -6 * (100vw - 320px) / 1120);
  text-align: center;
}
.header__menu__list .header__menu__item__arrow {
  display: none;
}

@media (min-width: 992px) {
  .header__menu__list {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .return__btn {
    right: 10px;
    bottom: 10px;
    background-color: var(--returnBtnBgClrMOB);
  }
  .header__body {
    gap: 5px;
  }
  .header__menu {
    position: absolute;
  }
  .header__menu__icon.burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 10px;
  }
  .header__menu__icon.burger span, .header__menu__icon.burger::before, .header__menu__icon.burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--burgerIconClr);
  }
  .header__menu__icon.burger::before, .header__menu__icon.burger::after {
    content: "";
  }
  .header__menu__icon.burger::before {
    top: 0;
  }
  .header__menu__icon.burger::after {
    bottom: 0;
  }
  .header__menu__icon.burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__menu__icon.burger.__active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__menu__icon.burger.__active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__menu__icon.burger.__active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--headerBgColor);
    padding: 100px 30px 30px 30px;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
    background-color: var(--headerBgColor);
  }
  .header__menu__body.__active {
    top: 0;
  }
  .header__menu__list {
    text-align: center;
  }
  .header__menu__list > li {
    margin: 0 0 30px 0;
  }
  .header__menu__list > li:last-child {
    margin: 0 0 0 0;
  }
  .header__menu__list .header__menu__item {
    font-size: 22px;
  }
  .header__logo.logo__right .header__logo-text {
    display: none;
  }
  .header__logo.logo__left {
    flex: 1 1 auto;
  }
  .header__logo.logo__left .header__logo-text {
    flex: 1 1 auto;
    text-align: center;
  }
}
.main {
  background-color: var(--mainBgClr);
  flex: 1 1 auto;
  padding: 70px 10px 10px 10px;
}

.action__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.action__btn a {
  margin: 15px 0;
}
.action__btn .custom-btn {
  width: 190px;
  border-radius: 10px;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.action__btn .btn-11 {
  border: none;
  background: linear-gradient(0deg, rgb(251, 33, 117) 0%, rgb(234, 76, 137) 100%);
  color: #fff;
  overflow: hidden;
}
.action__btn .btn-11:hover {
  text-decoration: none;
  color: #fff;
}
.action__btn .btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.action__btn .btn-11:hover {
  opacity: 0.7;
}
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
@media (max-width: 992px) {
  .action__btn .btn-11:hover {
    opacity: 1;
  }
}

.page__section {
  padding: 10px;
  margin: 0 auto;
}

.page__hero {
  display: flex;
}
.page__hero .page__hero-swiper {
  flex: 0 0 50%;
  background-color: gold;
  min-height: 276px;
}
.page__hero .page__hero-textbody {
  flex: 0 0 50%;
  text-align: center;
}
.page__hero .page__hero-textbody .page__hero-title {
  font-size: calc(28px + 12 * (100vw - 320px) / 1120);
}
.page__hero .page__hero-textbody .page__hero-text {
  display: inline;
  font-size: calc(22px + 0 * (100vw - 320px) / 1120);
}
.page__hero .page__hero-textbody .page__hero-simplytext {
  font-size: calc(18px + 4 * (100vw - 320px) / 1120);
  margin: 10px 0 0 0;
}
.page__hero .page__hero-textbody .typing-text {
  display: inline;
  font-size: calc(30px + -4 * (100vw - 320px) / 1120);
  font-weight: 600;
}
.page__hero .page__hero-textbody .typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
  font-weight: normal;
}
@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.page__hero .page__hero-textbody .page__hero-textbody-img {
  display: none;
}
.page__hero .page__hero-textbody .page__hero-textbody-img img {
  max-width: 100%;
}
.page__hero .page__hero-textbody .page__hero-textbody-btn {
  height: 128px;
}
.page__hero .page__hero-textbody .page__hero-textbody-btn img {
  height: 100%;
}
@media (min-width: 992px) {
  .page__hero .page__hero-textbody .mobbtn {
    display: none;
  }
}
@media (max-width: 767px) {
  .page__hero .page__hero-textbody .page__hero-textbody-img {
    display: block;
  }
}
@media (max-width: 767px) {
  .page__hero {
    flex-direction: column-reverse;
  }
}

.page__section-2 {
  background-color: #97d337;
}

.page__section-3 {
  background-color: #37d35e;
}

.page__section-4 {
  background-color: #37d35e;
}
.page__section-4 .title {
  margin: 0px 0px 20px 0px;
  font-size: 30px;
}
.page__section-4 .text {
  margin: 0px 0px 80px 0px;
}
.page__section-4 .text__image {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.footer {
  background-color: #008000;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
  z-index: 20;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #fff;
  color: #000;
  padding: 30px;
  max-width: 70%;
  position: relative;
  transition: all 0.5s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}
.popup__content .popup__close {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #808080;
  padding: 5px;
}
.popup__title {
  font-size: 40px;
  margin: 0 0 1em 0;
  text-align: center;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

#popup2 .popup__close {
  color: #ffffff;
}
#popup2 .popup__content {
  padding: 10px;
  width: 90%;
}
#popup2 .video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;
}
#popup2 img {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 100%;
  height: 100%;
  transform: translate(-50%, 0);
}
#popup2 iframe {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 100%;
  height: 100%;
  transform: translate(-50%, 0);
}